
.pg{
    width:80px;
    height:80px;
    float:left;
    border:NONE;
    outline:none;
    /* padding:0px 40px; */
    background-color: #f2f2f2;
    cursor: pointer;
    margin:10px;
    line-height:80px;
    text-align: center;

}

.active, .pg:hover{
    background-color: #ff00 00;
    color:#ffffff;
}